*{
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.content ul li{
    width: 974px;
    height: 440px;
    border-top: 9px #222222 solid;
    border-right: 9px #222222 solid;
    border-left: 9px #222222 solid;
    border-bottom:9px #444444 solid ;
    margin: 140px 0px -114px 24px;
    background-color: #222222;
    top: 12%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.return a{
    text-decoration: none;
    padding: 23px 100px;
    background-color: #525252;
    text-decoration: none;
    margin-top: 0px;
    margin-left: -166px;
    position: absolute;
    background: linear-gradient(120deg,#444444,#525252,#666666);
    background-size: 200%;
    color: white;
    font-size: 30px;
    font-weight: 600;
    left: 12%;
    top: 2%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    background-color: #222222;
    transition-duration: 0.3s;
    border-bottom: 9px #444444 solid;

}